<div class="home-page">
  <mc-banner></mc-banner>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <h1>Automated Timetable Generator</h1>
        <label for="subjects">Subjects:</label>
        <input
          type="textarea"
          id="subjects"
          placeholder="Enter subjects separated by commas"
          size="32"
        /><br /><br />

        <label for="teachers">Teachers:</label>
        <input
          type="textarea"
          id="teachers"
          placeholder="Enter teachers separated by commas"
          size="32"
        /><br /><br />

        <button (click)="initialize()">Generate Timetable</button>

        <table id="timetable"></table>
      </div>
    </div>
  </div>
</div>
